# List of largest companies in Europe by revenue

In [58]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [72]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_Europe_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [91]:
table = soup.find_all('table')[1]

In [90]:
titles = table.find_all('th')
table_titles = [title.text.strip() for title in titles]
print(table_titles)

['Rank', 'Company', 'Industry', 'Revenue(US$ billions)', 'Headquarters']

In [82]:
df = pd.DataFrame(columns = table_titles)

In [84]:
column_data = table.find_all('tr')
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [92]:
df.head(10)

  Rank        Company          Industry Revenue(US$ billions)    Headquarters
0    1          Shell       Oil and gas               386.201  United Kingdom
1    2     Volkswagen        Automotive               293.685         Germany
2    3         Uniper  Electric utility               288.309         Germany
3    4  TotalEnergies       Oil and gas               263.310          France
4    5       Glencore      Conglomerate               255.984     Switzerland

In [86]:
df.to_csv(r'/Users/ilianayordanova/Desktop/Largest_Companies_Europe.csv', index = False)